html {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #354657;
}

body {
    margin: 187px;
}

.container, .container_info, .container_final {
    display: flex;
}

header {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 18px;
}

.left {
    width: 70%;
    display: inline-block;
}

.right {
    width: 20%;
    display: inline-flex;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 30px;
}

.container_info {
    justify-content: space-evenly;
    line-height: 32px;
}

.container_final {
    line-height: 32px;
    justify-content: flex-start;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    background-color: #F0F2F5;
    padding: 13px;
    margin-top: 40px;
}

.info {
    padding: 20px;
    font-size: 16px;
    width: 100%;
}

span {
    font-weight: bold;
    font-size: 16px;
}

.title2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    background-color: #F0F2F5;
    padding: 13px;
    display: inline-flex;
}

.title3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    background-color: #F0F2F5;
    padding: 13px;
    display: inline-flex;
    justify-content: flex-end;
    text-align: right;
}

.address {
    line-height: 32px;
    display: inline-flex;
    padding: 20px;
    font-size: 16px;
    width: 100%;
}

.order {
    line-height: 32px;
    display: inline-flex;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.btn {
    border-radius: 50px;
    border: 2px solid #946FD3;
    width: 174px;
    padding: 7px;
    background-color: white;
    color: #946FD3;
    font-weight: bold;
    transition: all .3s;
    position: relative;
    right: 20px;
}

.btn:active {
    background-color: #946FD3;
    color: white;
    border-color: white;
}

img {
    height: 33px;
}

.sum {
    width: 69%;
    background-color: #F0F2F5;
    font-size: 16px;
    padding: 13px;
    display: inline-flex;
}

.btn2 {
    border-radius: 50px;
    border: 2px solid #946FD3;
    width: 206px;
    padding: 20px 0;
    background-color: white;
    color: #946FD3;
    font-size: .8rem;
    font-weight: bold;
    transition: all .3s;
    margin-top: 70px;
}

.btn2:active {
    background-color: #946FD3;
    color: white;
    border-color: white;
}

.container li {
    background-color: #F0F2F5;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    list-style-type: none;
    border-bottom: 1px solid #E2E2E2;
}

.container a {
    text-decoration: none;
    color: #354657;
}

.container a:hover {
    color: #C2C2C6;
}