html {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #354657;
}

body {
    margin: 80px;
}

.container {
    display: flex;
}

.left {
    width: 20%;
    border: 3px solid #EEE8F8;
    padding: 20px;
    display: inline-block;
}

.right {
    display: inline-flex;
    width: 75%;
    vertical-align: top;
    justify-content: space-around;
}

.container_grid {
    display: grid;
    grid-template-columns: 311px 311px 311px;
    gap: 30px 30px;
}

header {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 18px;
}

.container1 {
    display: flex;
    justify-content: flex-end;
}

.container2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.sort {
    margin: 20px 0 20px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #354657;
}

.sort input {
    border: 2px solid #F2F2F2;
    padding: 10px;
}

.button {
    display: inline-flex;
    width: 100%;
}

.btn {
    width: 80px;
    padding: 5px;
    background-color: #946FD3;
    color: white;
    font-weight: bold;
    transition: all .3s;
    font-size: 11px;
    border-radius: 5%;
}

.title {
    font-size: 24px;
    color: #354657;
    font-weight: bold;
    display: inline-flex;
    width: 280%;
}

summary {
    font-size: 16px;
    font-weight: bold;
    margin: 30px;
}

.input {
    padding: 10px;
}

.card {
    border: 1px solid #E0E0E0;
    width: 311px;
    height: 422px;
}

.name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

.price {
    font-size: 16px;
    text-align: center;
    padding: 20px;
}
.button2{
    display: flex;
    justify-content: center;
}

.btn2 {
    border-radius: 50px;
    border: 2px solid #946FD3;
    width: 206px;
    padding: 15px 0;
    background-color: white;
    color: #946FD3;
    font-size: .8rem;
    font-weight: bold;
    transition: all .3s;
    margin: 50px;
}

.btn2:active {
    background-color: #946FD3;
    color: white;
    border-color: white;
}